
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.body-container
{
    background-image:url('../images/abstract-textured-backgound_1258-30436.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90.9vh;
    width:100%;
    
}

.about-container
{
    
    position: fixed;
    padding: 20px; 
    box-sizing: border-box;
    border: 1px solid white;
    width:70%;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 0px grey;
    left:14%;
    top:16%;    
}

.about-header h1
{
    color:white;
    text-align: center;
    
}
.about-img
{
    display: flex;
    justify-content: left;
    align-items: center;
}
.about-img p
{
    color: white;
    margin-left:20px;
    
    text-align: center !important;
}
.about-image
{
    border-radius: 10px;
    width:180px;
    height:170px;
}
.about-section{
    color:white;
    box-sizing: border-box;
    border: 1px solid white;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 0px grey;
    backdrop-filter: blur(15px);
    width: 50%;
    left:40%;
    top:-20%;

}
 
.about-section p{
font-size: 17px;
margin-left: 40px;
border:1px solid white;
width:80%;
box-shadow: 0px 0px 25px 0px grey;
border-radius: 12px;
padding:4px;
text-align: center;
background-color: grey;
color:black !important;

}
.about-section p:hover{
    background-color: bisque;
   
}
.about-section h1:hover{
    color:turquoise;
    
}